<ion-header>
  <ion-toolbar>
    <ion-title>
      Bibliothèque Personel de Musique
    </ion-title>
  </ion-toolbar>
  <script>
    window.onload = function () {
        var hash = window.location.hash;
        if (window.location.search.substring(1).indexOf("error") !== -1) {
            window.close();
        } else if (hash) {
            var token = window.location.hash.split('&')[0].split('=')[1];
            localStorage.setItem('angular2-spotify-token', token);
        }
    }
</script>
</ion-header>

<ion-content padding>
    <p *ngIf="!!user">Vous êtes connecté en tant que : {{user.display_name}}</p>
    <ion-button *ngIf="!user" color="dark" size="large" shape="round" fill="outline" (click) ="login()">Se Connecter</ion-button>
    <p font-size="0.5em"> Les données collecté dans cette aplication ne sont utiliser que pour la conneion au compte spotify et ne sont pas réutiliser ou revendue. </p>
</ion-content>
